@import url('../../node_modules/font-awesome/css/font-awesome.min.css');

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body{
  background: url('../images/main.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}
button{
	width: 100%;
	height: 70px;
	margin-left: 20px;
	margin-right: 20px;
	color: white;
	background-color: #FF4F33;
	border: 1px solid transparent;
  font-size: 25px;
	font-weight: bold;
  font-family: sans-serif;
	margin-top: 10px;
  border-radius: 10px;

}
input{
	height: 40px;
	width: 90%;
	margin-top: 50px;
	margin-left: 20px;
	border: transparent solid 1px;
  padding: 10px;
}
.navbar-default{
	background-color: transparent;
	margin-bottom: 0px;
	z-index: 1;
	border: transparent;
	color: white;
	padding: 10px 20px 0px 0px;
}
.row1{
	z-index: -1;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}
button[name=loginbutton]{
	font-size: 15px;
	font-weight: lighter;
	font-family: Raleway, sans-serif;
	color: white;

}
.maincenter{
	color: white;
}
.centertext{
	font-size: 50px;
	font-family: Raleway, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	margin-left: 60px;
	/*text-shadow: 1px 1px 1px #000000;*/
}
.createaccount{
	border: 1px solid transparent;
	border-radius: 10px;
	background-color: #1C1815;
	height: 100%;
	z-index: -1;
	margin-top: 10px;
	padding: 30px;
}
.accountheader{
	color: white;
	z-index: 1;
	font-weight: lighter;
	font-size: 40px;
	padding-left: 20px;
}
.accountmessage{
	color: white;
	font-weight: normal;
	font-size: 50px;
	padding-left: 20px;
  text-align: center
}
button[name=register], button[name=login]{
	font-size: 18px;
	font-weight: normal;
	margin-top: 10px;
  width: 100%;
}
/*button[name=login]{
	background-color: #1DB375;
}*/

.text-vertical-center-form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: absolute;
	  left: 50%;
	  top: 50%;
	  transform: translate(-50%, -50%);
}

.text-vertical-center-form h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
    background-color: white;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
    background-color: white;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
    height: 300px;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Footer */

footer {
    padding: 40px 0;
    background-color: #337ab7;
}

footer a{
	color: white;
}
footer h4{
	color: white;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}


/*form*/

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:22px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  color: white;
  border:none;
  width: 100%;
  border-bottom:4px solid white;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:white; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:20px;
  color:white;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:white; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:white; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:white; }
  to 	{ width:0; background:transparent; }
}

input[type="text"], textarea {
  color: white;
  background-color : transparent; 
  textarea:-webkit-input-placeholder {  color: white;}

}
input::-webkit-input-placeholder {
color: white !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
input:-ms-input-placeholder {  
color: white !important;  
}